{% extends 'main/base.html' %}
{% block head %} 
    <title>Error</title>
    <style>
        body{
            background-image: linear-gradient(to bottom right, rgb(27, 27, 235) 7%, rgba(0,212,255,1) 100%);  
        }
        html, body {
            height: 100%;
        }
        .parent {
            width: 100%;
            height: 100%;
            display: table;
            text-align: center;
        }
        .parent > .child {
            display: table-cell;
            font-size: 3rem;
            font-weight: bold;
            vertical-align: middle;
        }
        span{ 
            font-family: 'Kanit', sans-serif;
            color: #ffffff;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block content %}

<section class="parent">
    <div class="child">&#x1F641;<br><span>Server Error! <br>Message was not delivered. <br>Try again after sometime.</span></div>
</section>
   
{% endblock %}