<nav class="navbar">
  <div class="max-width">
    <div class="logo"><a>Portfo<span>lio.</span></a></div>
    <ul class="menu">
      <li><a href="#home" class="menu-btn">Home</a></li>
      <li><a href="#about" class="menu-btn">About</a></li>
      <li><a href="#skills" class="menu-btn">Skills</a></li>
      <li><a href="#achievements" class="menu-btn">Courses</a></li>
      <li><a href="#contact" class="menu-btn">Contact</a></li>
    </ul>
    <div class="menu-btn">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </div>         
</nav>